* {
  box-sizing: border-box;
}

html, body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

body {
  padding-top: 43px;
}

html {
  background: url(../img/background.png) no-repeat center center fixed;
  background-size: cover;
}

.header {
  margin-bottom: 95px;
}

.header .container {
  max-width: 1360px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header__content {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 169px;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  height: 40px;
}

.header__menu-close {
  display: none;
}

.header__menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu-list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 123%;
  transition: 0.5s;
}

.header__menu-list li a {
  color: #fff;
  text-decoration: none;
}

@media (hover: hover) {
  .header__menu-list li:hover {
    font-size: 15px;
    border-bottom: 1px solid white;
  }
}

.header__menu-list li:not(:last-child) {
  margin-right: 30px;
}

.header__block-phone {
  display: flex;
  align-items: center;
}

.header__block-phone-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 14.40px;
  border: #FFFFFF solid 1px;
  border-radius: 100%;
}

.header__block-phone-icon svg {
  margin-top: 10px;
}

.header__block-phone-number {
  font-weight: 600;
  font-size: 18px;
  line-height: 123%;
}

.main .container {
  max-width: 1360px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.main__content {
  display: flex;
}

.main__content-left {
  margin-right: 84px;
  max-width: 800px;
}

.main__content-left-title {
  font-weight: 600;
  font-size: 65px;
  line-height: 135%;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 53px;
}

.main__content-left-subtitle {
  padding-left: 24px;
  border-left: white solid 1px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 64px;
}

.main__content-left-block {
  display: flex;
  margin-bottom: 112px;
}

.main__content-left-block-left {
  width: clamp(310px, 24vw, 380px);
  height: 71px;
  margin-right: 40px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.main__content-left-block-left-text {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.5s;
}

.main__content-left-block-left-text p {
  margin-top: 25px;
}

.main__content-left-block-left-arrow {
  transition: 0.5s;
  border-left: 1px solid #fff;
  width: 68px;
  height: 100%;
  text-align: right;
  padding-right: 13px;
}

.main__content-left-block-left-arrow svg {
  margin-top: 38px;
}

.main__content-left-block-left:hover .main__content-left-block-left-text {
  background: white;
  color: #07305d;
}

.main__content-left-block-left:hover .main__content-left-block-left-arrow {
  border-left: 2px solid #0b3461;
  background: white;
}

.main__content-left-block-left:hover .main__content-left-block-left-arrow svg path {
  stroke: #07305d;
}

.main__content-left-block-right {
  width: clamp(310px, 24vw, 380px);
  height: 71px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.main__content-left-block-right-text {
  text-align: center;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.main__content-left-block-right-text p {
  margin-top: 25px;
}

.main__content-left-block-right-arrow {
  border-left: 1px solid #fff;
  width: 68px;
  height: 100%;
  text-align: right;
  padding-right: 13px;
  transition: 0.5s;
}

.main__content-left-block-right-arrow svg {
  margin-top: 38px;
}

.main__content-left-block-right:hover .main__content-left-block-right-text {
  background: white;
  color: #07305d;
}

.main__content-left-block-right:hover .main__content-left-block-right-arrow {
  border-left: 2px solid #0b3461;
  background: white;
}

.main__content-left-block-right:hover .main__content-left-block-right-arrow svg path {
  stroke: #07305d;
}

.main__content-left-lower-block {
  display: flex;
}

.main__content-left-lower-block-left {
  width: 190px;
  height: 137px;
  border-left: 1px solid #fff;
  padding-left: 24px;
  margin-right: 230px;
}

.main__content-left-lower-block-left-number {
  font-weight: 600;
  font-size: 40px;
  line-height: 141%;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main__content-left-lower-block-left-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 123%;
  color: rgba(255, 255, 255, 0.5);
}

.main__content-left-lower-block-right {
  width: 202px;
  height: 132px;
  border-left: 1px solid #fff;
  padding-left: 24px;
}

.main__content-left-lower-block-right-number {
  font-weight: 600;
  font-size: 40px;
  line-height: 141%;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main__content-left-lower-block-right-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 123%;
  color: rgba(255, 255, 255, 0.5);
}

.main__content-right {
  height: 771px;
}

.main__content-right img {
  height: 100%;
}

.left-menu {
  position: absolute;
  z-index: 2;
  top: 0px;
  width: 0;
  overflow: hidden;
  background: #0f1d45;
  height: 995px;
  transition: 0.1s;
}

.left-menu .close {
  position: absolute;
  top: 40px;
  right: 40.59px;
  font-size: 25px;
  cursor: pointer;
}

.left-menu__title {
  font-weight: 600;
  font-size: 50px;
  line-height: 149%;
  margin-bottom: 65px;
}

.left-menu .form__firstName {
  width: 480px;
  height: 36px;
  display: block;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 123%;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid white;
  background: #0f1d45;
  margin-bottom: 65px;
}

.left-menu .form__phone {
  width: 480px;
  height: 36px;
  display: block;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 123%;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid white;
  background: #0f1d45;
  margin-bottom: 110px;
}

.left-menu .form__forCheckbox {
  display: flex;
  margin-bottom: 89px;
}

.left-menu .form__forCheckbox .checkbox {
  margin-right: 23px;
  width: 30px;
  height: 30px;
}

.left-menu .form__forCheckbox p {
  font-weight: 400;
  font-size: 16px;
  line-height: 129%;
  letter-spacing: 0.04em;
}

.left-menu .form__button {
  display: flex;
  width: 380px;
  height: 71px;
  border: 1px solid #fff;
  cursor: pointer;
}

.left-menu .form__button-btn {
  width: 312px;
  cursor: pointer;
  color: #fff;
  background: #0f1d45;
}

.left-menu .form__button-text {
  width: 312px;
  text-align: center;
}

.left-menu .form__button-text p {
  margin-top: 25px;
}

.left-menu .form__button-arrow {
  border-left: 1px solid #fff;
  width: 68px;
  height: 100%;
  text-align: right;
  padding-right: 13px;
}

.left-menu .form__button-arrow svg {
  margin-top: 38px;
}

.leftMenu {
  width: 640px;
  height: 995px;
  padding: 108px 57px 0 75px;
}

.fon {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 995px;
  backdrop-filter: blur(15px);
  background: rgba(15, 29, 69, 0.6);
  display: none;
}

.dBlock {
  display: block;
}
